a{
	text-decoration: none;
	font: bold 1em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

p{
	font: bold 14em/.8em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
#hello{
	font-size:10em;
	
}

#top_space{
	height: 20%;
}